
//npm install flag-icons
@import 'node_modules/flag-icons/css/flag-icons.min.css';

// npm i @fortawesome/fontawesome-free
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(67, 67, 67);
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}